.App {
  font-family: sans-serif;
}

.todoContainer {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


$primary-color: #22B24C;
.ant-menu-item-selected, .ant-menu-item-active, .ant-menu-item:hover, 
.ant-menu-submenu-active, .ant-menu-submenu-selected, .ant-menu-submenu-title:hover, .ant-menu-submenu:hover {
  color: $primary-color;
}

.ant-menu-item::after {
  border-right-color: $primary-color !important;
}
