// Global app stuff
.App {
  font-family: sans-serif;
}

$primary-color-ant: #22B24C;
$secondary-color-ant: #fff;
.ant-menu-item-selected i, .ant-menu-item-selected span {
  color: $primary-color-ant !important;
}
.ant-menu-item-selected {
  background-color: $secondary-color-ant !important;
}

.ant-menu-item::after {
  border-right-color: $primary-color-ant !important;
}

.ant-menu, .ant-layout-sider {
  background: $primary-color-ant !important;
}

// Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";